* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

#background {
    background-color:skyblue;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    font-family: 'Maven Pro';
}

#logo {
    height:200px;
    width:200px;
}

#info {
    background-color:white;
    border-radius:15px;
    display:flex;
    flex-direction: column;
    width:20%;
    height:40%;
    padding:20px;
    min-width:500px;
    min-height:700px;
}

#deliveryAddress {
    display:flex;
    flex-direction:column;
    margin-top:35px;

}

#orderDetails {
    display:flex;
    flex-direction:column;
    margin-top:35px;

}

#deliveryTime {
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

#cardNumber {
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

#coupon {
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

#tips {
    display:flex;
    flex-direction:column;
    margin-top:35px;
}

#tipBtnContain {
    display:flex;
    flex-direction:row;
    margin-top:20px;
}

#tipsContain {
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-top:10px;
}

.tipBtn {
    background-color:white;
    border: pink 2px solid;
    color:black;
    padding:20px;
    border-radius:15px;
    margin-right:5px;
    width:25%;
    text-align:center;
    transition:text 1s;
    transition:background-color 1s;
}

.tipBtn:hover {
    background-color:rgb(250,97,212);
    color:rgb(237,238,242);
    border:none;
}

#finalPrice {
    display:flex;
    flex-direction:column;
    margin-top:10px;
    text-align:center;
}

#placeOrder {
    margin-top:10px;
    background-color:pink;
    color:white;
    padding:20px;
    border-radius:15px;
    width:100%;
    text-align:center;
    transition:text 1s;
    transition:background-color 1s;
}

#placeOrder:hover {
    background-color:rgb(250,97,212);
    color:rgb(237,238,242);
}
a{
    text-decoration: none;
}